<footer class="site-footer">
  <a class="brand" href="/src/pages/index.html">
    <img id="site-logo" src="/public/logo.svg" alt="Logo" class="logo">
  </a>

  <div class="footer-center">
    <span class="code-icon"><i data-lucide="code-2"></i></span>
    <span>Developed by <strong>Ngoc Tram Nguyen</strong>, with CSS/HTML</span>
  </div>

  <div class="footer-right">
    <a href="mailto:nhnt2407@gmail.com" target="_blank" rel="noopener"><i data-lucide="mail"></i></a>
    <a href="https://www.instagram.com/n.hntram/" target="_blank" rel="noopener"><i data-lucide="instagram"></i></a>
    <a href="https://www.youtube.com/@BoaHanCode/videos" target="_blank" rel="noopener"><i data-lucide="youtube"></i></a>
    <a href="https://github.com/JeonJuLim/" target="_blank" rel="noopener"><i data-lucide="github"></i></a>
    <a href="https://www.linkedin.com/in/ng%E1%BB%8Dc-tr%C3%A2m-nguy%E1%BB%85n-ho%C3%A0ng-86a170390/" target="_blank" rel="noopener"><i data-lucide="linkedin"></i></a>
  </div>
</footer>
