<nav class="site-nav-wrap">
  <div class="container nav-bar">
    <a class="brand" href="/src/pages/index.html">
      <img id="site-logo" src="/public/logo.svg" alt="Logo" class="logo" />
    </a>

    <ul class="site-nav">
      <li><a href="/src/pages/index.html">Trang chủ</a></li>
      <li><a href="/src/pages/blog.html">Blog</a></li>
      <li><a href="/src/pages/about.html">Giới thiệu</a></li>
      <li><a href="/src/pages/contact.html">Liên hệ</a></li>
    </ul>

    <div class="nav-icons">
      <button class="icon-btn" aria-label="Tìm kiếm"><i data-lucide="search"></i></button>

    

      <button class="icon-btn" id="theme-toggle" aria-label="Chuyển theme">
        <i data-lucide="sun" id="theme-toggle-icon"></i>
      </button>
      <button class="icon-btn" aria-label="RSS"><i data-lucide="rss"></i></button>
      <button class="icon-btn" aria-label="Mở menu"><i data-lucide="menu"></i></button>
    </div>
  </div>

  <!-- 🎵 Nhạc nền -->
  <audio id="bg-music" loop autoplay muted preload="auto">
    <source src="/public/sound/snaptt.me-94278072.mp3" type="audio/mpeg" />
  </audio>

</nav>
